<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Login</title>
</head>
<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Bem-vindo ao IAFuture</h1>
            <h2 class="subtitle">Faça login para continuar</h2>
            <form action="/login" method="post">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="Digite seu username" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Login</button>
                    </div>
                </div>
            </form>

            <div class="field">
                <div class="control">
                    <a class="button is-light" href="/cadastro">Não tem uma conta? Cadastre-se!</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
