<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Login</h1>
            <form th:action="@{/login}" method="post">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" required placeholder="Digite seu username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" required placeholder="Digite sua senha">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link">Login</button>
                    </div>
                </div>
                <div th:if="${param.error}" class="notification is-danger">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="notification is-info">
                    You have been logged out.
                </div>
            </form>
            <div class="field">
                <p>Não tem uma conta?</p>
                <a href="/register" class="button is-info">Criar Conta</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
